body {
	background-image: url("paper_wallpaper.jpg");
	background-size: cover;
	font-family: "Verdana", sans-serif;	
}



.authors_select_div {
	position: absolute;
	height: 27%;
	width: 26%;
	left: 1%;
	top: 2%;
}

.authors_select {
	background-color: RGBA(255, 255, 255, 0.35);
	overflow: auto;
	width: 100%;
	height: 100%;
	margin-top: 1%;
	padding: 1%;
	font-size: large;
}



.lists_select_div {
	position: absolute;
	height: 27%;
	width: 26%;
	left: 28%;
	top: 2%;
}

.lists_select {
	background-color: RGBA(255, 255, 255, 0.35);
	overflow: auto;
	width: 100%;
	height: 100%;
	margin-top: 1%;
	padding: 1%;
	font-size: large;
}



.audience_table_with_adding_button_div {
	position: absolute;
	height: 49%;
	max-width: 53%;
	left: 1%;
	top: 37%;
}

.audience_table_div {
	height: 87%;
	width: 100%;
	margin-top: 1%;
	background-color: RGBA(255, 255, 255, 0.35);
	overflow-y: scroll;
	
	font-size: large;
}

.audience_table {
	width: 100%;
	border-spacing: 0px;
}

.small_caption_p {
	margin: 0;
	font-weight: 900;
	font-size: small;
	
}

.audience_table_th_initial {
	font-weight: 900;
	font-size: x-large;
}

.audience_table_th_rest {
	font-weight: 100;
	font-size: x-small;
}

.audience_table_user_caption {
	padding: 3px 20px;
	border: 1px solid rgb(0, 0, 0);
}

.audience_table_td {
	padding: 3px 6px;
	white-space: pre-wrap;
	border: 1px solid rgb(0, 0, 0);
}

.allowance_user_name_td {
	position: inherit;
	width: 150px;
	border-left: 1px solid rgb(0, 0, 0);
	border-right: 1px solid rgb(0, 0, 0);
	border-top: 2px solid rgb(0, 0, 0);
	border-bottom: 1px solid rgb(0, 0, 0);
}

.allowance_user_name_div {
	position: inherit;
	width: 240px;
	padding: 3px 6px;
	white-space: pre;
	overflow-x: auto;
}

.allowance_clickable_switcher {
	border-left: 1px solid rgb(0, 0, 0);
	border-right: 1px solid rgb(0, 0, 0);
	border-top: 2px solid rgb(0, 0, 0);
	border-bottom: 1px solid rgb(0, 0, 0);
	text-align: center;
}

.audience_user_delete_caption {
	color: rgb(180, 0, 0);
	text-decoration: line-through;
	white-space: pre-wrap;
}

.zeroise_allowances_td {
	border-left: 1px solid rgb(0, 0, 0);
	border-right: 1px solid rgb(0, 0, 0);
	border-top: 2px solid rgb(0, 0, 0);
	border-bottom: 1px solid rgb(0, 0, 0);
	text-align: center;
}

.zeroise_allowances_button {
	font-style: italic;
	font-size: smaller;
}

.add_user_button {
	position: absolute;
	min-width: 50%;
	max-width: 100%;
	left: 25%;
	margin-top: 1%;
}



.line___that_one_that_divides___screen_areas {
	position: absolute;
	width: 1px;
	height: 85%;
	left: 55%;
	top: 1%;
}



.shopping_list_table_with_caption_div {
	position: absolute;
	height: 82%;
	max-width: 48%;
	left: 56%;
	top: 2%;	
}

.shopping_list_table_div {
	height: 100%;
	width: 100%;
	background-color: RGBA(255, 255, 255, 0.35);
	margin-top: 2%;
	
	overflow: auto;
}

.shopping_list_table {
	max-width: 100%;
		
	border-spacing: 0px;
	font-size: large;
}

.small_caption_th {
	font-size: x-small;
}



footer {
	position: absolute;
	top: 95%;
	left: 1%;
	right: 1%;
	width: 98%;
}



::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	background-color: rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar-button {
	width: 19px;
	height: 19px;
	background-color: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-track {
	width: 5px;
	height: 5px;
	background-color: rgba(205, 205, 205, 0.5);
}

::-webkit-scrollbar-track-piece {
	width: 5px;
	background-color: rgba(0, 48, 104, 0.5);
}

::-webkit-scrollbar-thumb {
	width: 20px;
	height: 5px;
	background-color: rgba(0, 0, 255, 0.5);
}

::-webkit-scrollbar-corner {
	width: 5px;
	height: 5px;
	background-color: rgba(0, 0, 0, 0.5);
}

::-webkit-resizer {
	width: 5px;
	height: 5px;
	background-color: rgba(0, 0, 0, 0.5);
}

@-moz-document url-prefix() {
	html, body, td, th, table {
		scrollbar-color: rgba(0, 0, 255, 0.5) rgba(0, 48, 104, 0.5);
		scrollbar-width: thin;
	}
}